@font-face {
  font-family: "Denistina";
  src: url("../fonts/8591.ttf") format("truetype");
}
.header {
  text-align: -webkit-center;
}
.header .postcard {
  background: url("../images/c2425f2f08dbf33fd0714ceba8ab79b0.jpg") no-repeat center center;
  position: relative;
  height: 920px;
  width: 755px;
  left: 58px;
  top: 87px;
  box-shadow: -5px 8px 20px 9px rgba(109, 109, 109, 0.21);
}
.header .postcard .vertical-text {
  position: absolute;
  top: 2em;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 39px;
  writing-mode: vertical-lr;
  letter-spacing: 8px;
  transform: scale(-1);
  margin-left: 23px;
}
.header .postcard .main-info {
  position: absolute;
  bottom: 2.5em;
  text-align: end;
  right: 30px;
}
.header .postcard .main-info .text {
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
  color: #696969;
  font-size: 33px;
}
.header .postcard .main-info h1 {
  font-family: "Denistina";
  font-size: 110px;
  margin-bottom: 18px;
  font-weight: bold;
  padding-right: 17px;
  line-height: 75px;
}
.header .postcard .main-info .date {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 23px;
  color: #696969;
}
.header .postcard .wood {
  position: absolute;
  z-index: -1;
  right: 65px;
  top: 65px;
  box-shadow: -9px 14px 29px -9px rgba(109, 109, 109, 0.7);
}
.header .postcard .twig {
  width: 561px;
  position: absolute;
  top: 398px;
  right: 435px;
  transform: rotate(-29deg);
}

.invite {
  margin: 332px 34px 34px;
}
.invite .info {
  text-align: center;
}
.invite .info .title h2 {
  font-family: "Denistina";
  font-size: 72px;
}
.invite .info .title p {
  font-size: 36px;
  color: #696969;
  font-family: "PT Sans Narrow", sans-serif;
}
.invite .info .plan h3 {
  font-size: 80px;
  font-family: "Denistina";
  font-weight: 400;
  margin-bottom: 0;
}
.invite .info .plan .time {
  font-size: 36px;
  font-family: "PT Sans Narrow", sans-serif;
  color: #696969;
}
.invite .info .plan .time span {
  padding-right: 20px;
  color: black;
}
.invite .info .plan .important {
  font-size: 34px;
  font-family: "PT Sans Narrow", sans-serif;
}
.invite .info .add h3 {
  font-size: 80px;
  font-family: "Denistina";
  font-weight: 400;
  margin-bottom: 0;
}
.invite .info .add p {
  font-size: 36px;
  font-family: "PT Sans Narrow", sans-serif;
  color: #696969;
}
.invite .instagram {
  display: flex;
}
.invite .instagram .photo .inst-wood {
  position: relative;
  height: 666px;
  width: 500px;
  box-shadow: -9px 14px 29px -9px rgba(109, 109, 109, 0.7);
}
.invite .instagram .text {
  padding-left: 25px;
  padding-top: 194px;
}
.invite .instagram .text p {
  font-size: 36px;
  font-family: "PT Sans Narrow", sans-serif;
  color: #696969;
}
.invite .instagram .text h4 {
  text-transform: uppercase;
  font-size: 39px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}
.invite .instagram .text h4 i {
  padding-right: 15px;
}
.invite .footer {
  text-align: center;
}
.invite .footer h3 {
  font-size: 80px;
  font-family: "Denistina";
  font-weight: 400;
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
