$font-text: 'PT Sans Narrow', sans-serif
$text-color: #696969
$shadow-wood: -9px 14px 29px -9px rgba(109,109,109,0.7)
$text-size: 45px

@font-face
  font-family: 'Denistina'
  src: url("../fonts/8591.ttf") format('truetype')

$font-name: 'Denistina'

.header
  text-align: -webkit-center
  .postcard
    background: url("../images/c2425f2f08dbf33fd0714ceba8ab79b0.jpg") no-repeat center center
    position: relative
    height: 920px
    width: 755px
    left: 58px
    top: 87px
    box-shadow: -5px 8px 20px 9px rgba(109,109,109,0.21)
    .vertical-text
      position: absolute
      top: 2em
      font-family: $font-text
      font-weight: 400
      font-size: 39px
      writing-mode: vertical-lr
      letter-spacing: 8px
      transform: scale(-1)
      margin-left: 23px
    .main-info
      position: absolute
      bottom: 2.5em
      text-align: end
      right: 30px
      .text
        text-transform: uppercase
        font-family: $font-text
        color: $text-color
        font-size: 33px
      h1
        font-family: $font-name
        font-size: 110px
        margin-bottom: 18px
        font-weight: bold
        padding-right: 17px
        line-height: 75px
      .date
          font-family: $font-text
          font-size: 50px
          font-weight: 400
          margin-bottom: 23px
          color: $text-color
    .wood
      position: absolute
      z-index: -1
      right: 65px
      top: 65px
      box-shadow: $shadow-wood
    .twig
      width: 561px
      position: absolute
      top: 398px
      right: 435px
      transform: rotate(-29deg)
.invite
  margin: 332px 34px 34px
  .info
    text-align: center
    .title
      h2
        font-family: $font-name
        font-size: 80px
      p
        font-size: $text-size
        color: $text-color
        font-family: $font-text
    .plan
      h3
        font-size: 88px
        font-family: $font-name
        font-weight: 400
        margin-bottom: 0
      .time
        font-size: $text-size
        font-family: $font-text
        color: $text-color
        line-height: 64px
        i
          color: black
          padding-right: 15px
        span
          padding-right: 20px
          color: black
      .important
        font-size: 40px
        font-family: $font-text
    .add
      h3
        font-size: 88px
        font-family: $font-name
        font-weight: 400
        margin-bottom: 0
      p
        font-size: $text-size
        font-family: $font-text
        color: $text-color
  .instagram
    display: flex
    .photo
      height: 666px
      width: 500px
      box-shadow: $shadow-wood
    .text
      padding-left: 25px
      padding-top: 150px
      p
        font-size: 40px
        font-family: $font-text
        color: $text-color
      h4
        text-transform: uppercase
        font-size: 39px
        font-family: $font-text
        font-weight: 400
        margin-bottom: 0
        i
          padding-right: 15px
  .footer
    text-align: center
    h3
      font-size: 88px
      font-family: $font-name
      font-weight: 400
      margin-bottom: 0









